venv
**/__pycache__
.**/
!.github/
data/secrets/
data/migrations/
data/records/
data/files/

!.gitignore

node_modules/
package-lock.json
package.json

/piltover/tl/base
/piltover/tl/functions
/piltover/tl/types
/piltover/tl/all.py
/piltover/tl.zip

/coverage.*
/*.coverage