venv
**/__pycache__
.**/
!.github/
data/secrets/
data/migrations/
data/records/
data/files/

!.gitignore

node_modules/
package-lock.json
package.json

/piltover/tl_new/base
/piltover/tl_new/functions
/piltover/tl_new/types
/piltover/tl_new/all.py
